# ignore LaTex logs
*.log

# allow final pdf builds for now
#*.pdf

# Ignore target folder for streets4rust
target

# Ignore executables
streets4c
streets4go
streets4rust

# Ignore .vim swap files
*.swp
