# ignore LaTex logs
*.log

# allow final pdf builds for now
#*.pdf

# Ignore executables
code/streets4c/streets4c
code/streets4go/streets4go
code/streets4rust/target

# Ignore object files
*.o

# Ignore .vim swap files
*.swp
